*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Montserrat', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* Styling Book Details Page */
.book-details .container {
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
}

.image-container {
    flex: 1;
    padding: 20px;
}

.image-container img{
    width: 400px;
    height: 400px;
    object-fit: contain;
    border-radius: 20px;
    margin-top: 10px;
}

.details-container {
    flex: 2;
    padding: 20px;
}

.details-container h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.details-container h2 {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 10px;
}

.details-container .description {
    font-size: 1em;
    line-height: 1.6;
    color: #333;
    text-align: justify;
}

.details-container .price{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(136, 136, 136);
}

.details-container .price strong{
    color: orangered;
    margin-left: 5px;
}

.additional-info {
    margin-top: 20px;
    font-size: 1em;
    color: #555;
}

.additional-info div {
    margin-bottom: 20px;
}

.additional-info .language, .publication-date, .ISBN{
    font-weight: 600;
    color: rgb(136, 136, 136);
    margin-right: 3px;
}

.availability {
    font-size: 1em;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.availability strong {
    font-weight: 600;
    margin-right: 10px;
}

.availability .status {
    color: #3b3a3b;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #c7c7c7;
}

.details-container .genre {
    font-size: 1.2em;
    color: #3498DB;
    margin-bottom: 10px;
}

.review {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.review .stars {
    color: #FFD700;
    margin-right: 10px;
}

.details-container .buttons {
    display: flex;
    gap: 20px;
}

.details-container .buttons a{
    text-decoration: none;
}

.details-container .buttons .btn {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.details-container .buttons .btn {
    background-color: #007BFF; 
    color: #fff;
}


.details-container .buttons button:hover {
    opacity: 0.9;
}



