*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Montserrat', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* Styling Log-In Form */
.login-section .container{
    background: white;
    width: 400px;
    padding: 25px;
    margin: 50px auto 50px;
    border-top: 5px solid blue;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
}

.login-section .container h2{
    font-size: 24px;
    line-height: 24px;
    padding: 20px;
    text-align: center;
}

.input-name {
    width: 90%;
    position: relative;
    margin: 20px auto;
}

.lock{
    padding: 8px 11px;
}

.username, .password{
    width: 100%;
    padding: 8px 0 8px 45px;
}

.input-name i{
    position: absolute;
    font-size: 21px;
    color: blue;
    border-right: 1px solid #cccccc;
}

.user, .pass{
    padding: 8px;
}

.input-name input{
    font-size: 17px;
    border: 1px solid #cccccc;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

input:hover{
    background-color: #fafafa;
}

input:focus{
    border: 1px solid #0866ff;
}

.btn{
    width: 100%;
    line-height: 1.6;
    font-weight: 600;
    padding: 5px 20px;
    cursor: pointer;
    background: #007bff;
    color: white;
    font-weight: 500;
}

.btn:hover{
    background-color: #0056b3;
}

.input-name a{
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: 0.2s;
}

.input-name a:hover{
    text-decoration: underline;
}

label{
    color: #706e6e;
}

input[type="checkbox"]{
    cursor: pointer;
}

#username-error, #password-error{
    display: inline-block;
    color: red;
    font-size: 15px;
    margin: 6px 0;
    font-weight: 600;
    opacity: 0.5;
}