<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Cart | E-library System</title>
    <link rel="stylesheet" href="../css/Cart.css">
    <link rel="stylesheet" href="../css/Header.css"/>
    <link rel="stylesheet" href="../css/Footer.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
</head>
<body>
<!-- Header and Navigation Bar Section-->
<header class="info-text">
    <ul>
    <li>
        <h6>
            <i class="fa-solid fa-phone"></i>
        </h6>
        <p>+977 0845029 | 0841929</p>
    </li>
    <li>
        <span style="color: black">|</span>
    </li>
    <li>
        <h6>
            <i class="fa-solid fa-envelope"></i>
        </h6>
        <p>bookez@gmail.com</p>
    </li>
    <li>
        <span style="color: black">|</span>
    </li>
    <li>
        <h6>
            <i class="fa-solid fa-location-dot"></i>
        </h6>
        <p>Kalanki, Kathmandu, Nepal</p>
    </li>
    </ul>
</header>

<div class="navigation-bar">
    <div class="container">
        <div class="logo-section">
            <a href="../Home.html">
                <img src="../assets/logo.png" alt="company-logo" class="company-logo"/>
                <span class="company-name">BookEz</span>
            </a>
        </div>
        <div class="search-container">
            <form>
            <div class="search-wrapper">
                <input type="text" placeholder="Search" class="search-bar" />
                <button class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            </form>
        </div>
        <div class="nav-links">
            <nav>
            <ul>
                <li>
                <a href="../view/Login.html" id="login-section">
                    <i class="fa-regular fa-user"></i>
                    <span>Login</span>
                </a>
                </li>
                <li>
                <span style="color: white">|</span>
                </li>
                <li>
                <a href="../view/SignUp.html" id="signup-section">Sign Up</a>
                </li>
                <li>
                <a href="../view/Cart.html" id="cart-section">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                </li>
            </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Cart Section -->
<div class="cart-section">
    <div class="container">
       <h3 class="title">Shopping Cart</h3>
       <div class="product-table">
           <table class="table" id="cart-table">
               <thead>
                   <tr>
                       <td class="image">Image</td>
                       <td class="name">Book Name</td>
                       <td class="price">Price</td>
                       <td class="quantity">Quantity</td>
                       <td class="total">Total</td>
                       <td class="delete"></td>
                   </tr>
               </thead>
               <tbody>
                   <tr>
                       <td class="image">
                           <img src="../assets/custtomer4.png" alt="1984 Book Image">
                       </td>
                       <td class="name">
                           <p>1984</p>
                       </td>
                       <td class="price">
                           <p>$20.30</p>
                       </td>
                       <td class="quantity">
                           <div class="button">
                                <button class="quantity-btn" onclick="updateQuantity(this, '-')">-</button>
                                <span>1</span>
                                <button class="quantity-btn" onclick="updateQuantity(this, '+')">+</button>
                           </div>
                       </td>
                       <td class="total">
                           <p>$20.30</p>
                       </td>
                       <td class="delete">
                           <form action="#" class="delete-form">
                               <button type="submit" class="delete-btn">Remove</button>
                           </form>
                       </td>
                    </tr>
                    <tr>
                        <td class="image">
                            <img src="../assets/customer3.png" alt="Big Little Lies Book Image">
                        </td>
                        <td class="name">
                            <p>Big Little Lies</p>
                        </td>
                        <td class="price">
                            <p>$20.30</p>
                        </td>
                        <td class="quantity">
                            <div class="button">
                                <button class="quantity-btn" onclick="updateQuantity(this, '-')">-</button>
                                <span>1</span>
                                <button class="quantity-btn" onclick="updateQuantity(this, '+')">+</button>
                            </div>
                        </td>
                        <td class="total">
                            <p>$20.30</p>
                        </td>
                        <td class="delete">
                            <form action="#" class="delete-form">
                                <button type="submit" class="delete-btn">Remove</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td class="image">
                            <img src="../assets/customer2.png" alt="Big Little Lies Book Image">
                        </td>
                        <td class="name">
                            <p>Big Little Lies</p>
                        </td>
                        <td class="price">
                            <p>$20.30</p>
                        </td>
                        <td class="quantity">
                            <div class="button">
                                <button class="quantity-btn" onclick="updateQuantity(this, '-')">-</button>
                                <span>1</span>
                                <button class="quantity-btn" onclick="updateQuantity(this, '+')">+</button>
                            </div>
                        </td>
                        <td class="total">
                            <p>$20.30</p>
                        </td>
                        <td class="delete">
                            <form action="#" class="delete-form">
                                <button type="submit" class="delete-btn">Remove</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td class="image">
                            <img src="../assets/customer1.png" alt="Big Little Lies Book Image">
                        </td>
                        <td class="name">
                            <p>Big Little Lies</p>
                        </td>
                        <td class="price">
                            <p>$20.30</p>
                        </td>
                        <td class="quantity">
                            <div class="button">
                                <button class="quantity-btn" onclick="updateQuantity(this, '-')">-</button>
                                <span>1</span>
                                <button class="quantity-btn" onclick="updateQuantity(this, '+')">+</button>
                            </div>
                        </td>
                        <td class="total">
                            <p>$20.30</p>
                        </td>
                        <td class="delete">
                            <form action="#" class="delete-form">
                                <button type="submit" class="delete-btn">Remove</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td class="image">
                            <img src="../assets/custtomer4.png" alt="Big Little Lies Book Image">
                        </td>
                        <td class="name">
                            <p>Big Little Lies</p>
                        </td>
                        <td class="price">
                            <p>$20.30</p>
                        </td>
                        <td class="quantity">
                            <div class="button">
                                <button class="quantity-btn" onclick="updateQuantity(this, '-')">-</button>
                                <span>1</span>
                                <button class="quantity-btn" onclick="updateQuantity(this, '+')">+</button>
                            </div>
                        </td>
                        <td class="total">
                            <p>$20.30</p>
                        </td>
                        <td class="delete">
                            <form action="#" class="delete-form">
                                <button type="submit" class="delete-btn">Remove</button>
                            </form>
                        </td>
                    </tr>
               </tbody>
           </table>
       </div>
       <div class="cart-container">
           <div class="cart-table">
               <form action="../view/OrderSummary.html">
                   <h3 class="title">Order Summary</h3>
                   <hr class="line">
                   <div class="details">
                       <div class="row">
                           <p class="sub-total">Subtotal (2 items)</p>
                           <p class="sub-total-amount">Rs. 10000</p>
                       </div>
                       <div class="row">
                           <p class="sub-total">Tax Amount</p>
                           <p class="sub-total-amount">Rs. 1000</p>
                       </div>
                       <div class="row">
                           <p class="sub-total">Discount Amount</p>
                           <p class="sub-total-amount">Rs. 1000</p>
                       </div>
                       <hr class="line">
                       <div class="row">
                           <p class="sub-total">Total Amount</p>
                           <p class="sub-total-amount">Rs. 100000</p>
                       </div>
                   </div>
                   <button type="submit" class="checkout-button">Checkout</button>
               </form>
           </div>
       </div>
   </div>
</div>


<!-- Footer Section -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Library Policy</a></li>
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Request a Book</a></li>
                    <li><a href="#">Report an Issue</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Best Sellers</a></li>
                    <li><a href="#">Featured Books</a></li>
                    <li><a href="#">Genres</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://github.com/bikash2060" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://x.com/bhattarai_bsal2" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/its_bshal20/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/bikashbhattarai/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="copyright">
                <p>&copy; 2020-2024 BookEz. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<script src="../js/QuantityIncrement.js"></script>
</body>
</html>