<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header | E-Library System</title>
    <link rel="stylesheet" href="../css/Header.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    
    <header class="info-text">
            <ul>
                <li>
                    <h6>
                        <i class="fa-solid fa-phone"></i>
                    </h6>
                    <p>+977 0845029 | 0841929</p>
                </li>
                <li>
                    <span style="color: black;">|</span>
                </li>
                <li>
                    <h6>
                        <i class="fa-solid fa-envelope"></i>
                    </h6>
                    <p>makshad@gmail.com</p>
                </li>
                <li>
                    <span style="color: black;">|</span>
                </li>
                <li>
                    <h6>
                        <i class="fa-solid fa-location-dot"></i>
                    </h6>
                    <p>Kalanki, Kathmandu, Nepal</p>
                </li>
            </ul>       
    </header>

    <div class="navigation-bar">
        <div class="container">
            <div class="logo-section">
                <a href="../Home.html">
                    <img src="../assets/logo.png" alt="company-logo" class="company-logo">
                    <span class="company-name">BookEz</span>
                </a>
            </div>
            <div class="search-container">
                <form>
                    <div class="search-wrapper">
                        <input type="text" placeholder="Search" class="search-bar">
                        <button class="search-button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </form>
            </div>            
            <div class="nav-links">
                <nav>
                    <ul>
                        <li>
                            <a href="#" id="login-section">
                                <i class="fa-regular fa-user"></i>
                                <span>Login</span>
                            </a>
                        </li>
                        <li>
                            <span style="color: white;">|</span>
                        </li>
                        <li>
                            <a href="#" id="signup-section">Sing Up</a>
                        </li>
                        <li>
                            <a href="#" id="cart-section">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
</html>