*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Montserrat', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* Body Section */
.order-body-section{
    margin: 30px 0;
}
.order-body-section .container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 0;
    border-radius: 8px; 
    background-color: #fff; 
}
.order-body-section .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background: #f8f8f8;
    padding: 10px 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.order-body-section .title h3{
    font-size: 28px;
    color: #001f3f;
}
.user-details{
    display: flex;
    align-items: center;
}
.user-details .user-pic{
    height: 50px;
    width: 50px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.user-details p{
    margin-left: 10px;
    margin-top: 3px;
    font-size: 20px;
    color: #001f3f;
}
.main-title{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
.customer,
.order {
    flex: 1; 
}
.order{
    margin-left: 60px;
}
.main-title h3{
    margin-top: 10px;
    font-size: 25px;
    color: #001f3f;
}
.form-section {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0 30px;
}
.form-section .mid-container {
    display: flex;
}
.left-col,
.right-col {
    flex: 1; 
    margin-top: 20px;
}
.left-col{
    position: relative;
}
.form-section .left-col .row {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
}
.order-date {
    position: absolute;
    width: 100%;
    margin-top: 20px; 
    border-top: 1px solid #ccc; 
    padding-top: 20px;
    bottom: 20px;
}
.order-date h3 {
    margin-top: 0; 
    margin-bottom: 5px;
}
.left-col .row label {
    display: inline-block;
    font-size: 16px;
    width: 200px;
    margin: 20px 30px 10px 0px;
}
.left-col .row .required{
    margin-left: 2px;
    color: red;
}
.form-section .left-col .row input[type="text"],
input[type="date"]{
    flex: 1; 
    width: calc(100% - 160px); 
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #424242
}
.form-section .left-col .row input[type="text"]:not(#shipppingAddress){
    background-color: #f0f0f0; 
}
.right-col{
    margin-left: 60px;
}
.table-wrapper{
    max-height: 176px;
    width: 100%; 
    overflow-y: auto;
    overflow-x: hidden;
    border-bottom: 1px solid #ccc; 
    border-radius: 5px;
}
table {
    width: 100%; 
    border-collapse: collapse; 
    table-layout: fixed;
}
table tr {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    min-height: 59px;
}
table tr:last-child {
    border-bottom: none; 
}
table .row-data {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
table .product-name {
    width: 70%; 
}
table .quantity {
    font-size: 12px; 
    color: #888; 
}
table .price {
    width: 30%; 
    text-align: right; 
}

.table-wrapper::-webkit-scrollbar {
    width: 5px;
}

.table-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
.total-amount .row{
    display: flex;
    justify-content: space-between;
    padding: 15px 0 15px 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    background: #f0f0f0;
    text-align: center;
}
.total-amount .row p{
    font-size: 15px; 
    color: #111111;
}
.total-amount .row .amount{
    font-size: 16px;
    padding-right: 15px;
}

.payment-type {
    margin-top: 20px;
    display: flex; 
    align-items: center; 
    padding-left: 10px;
}
.payment-type i {
    font-size: 24px;
    color: #555;
    margin-right: 10px;
    background: #f0f0f0;
    padding: 12px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.payment-type i:hover {
    transform: scale(1.1);
    background: #ddd;
}

.payment-type input[type="radio"] {
    display: none; 
}
.payment-type input[type="radio"] + label {
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 15px;
    transition: background-color 0.3s ease;
}
.payment-type input[type="radio"]:checked + label {
    background-color: rgb(55, 53, 50);
    color: white;
    font-weight: bold;
}
.payment-type input[type="radio"] + label:hover {
    background-color: #ddd;
}

.payment-amount{
    margin-top: 25px;
}
.payment-amount .row{
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
    background: #f0f0f0;
}
.payment-amount .row .discount{
    color: #e67e22;
    font-weight: bold;
}
.submit-button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.submit-button input[type="submit"] {
    width: 100%;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button input[type="submit"]:hover {
    background-color: #2980b9;
}