*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Montserrat', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* Styling User Profile Section */
.title{
    color: #afaeae; 
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 20px;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .side-bar{
    width: 300px;
    height: 60vh;
    position: relative;
    padding: 0 0;
    background-color: #4b4276;
}

.side-bar ul li{
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(225, 225, 225, 0.05);
    list-style: none;
}

.side-bar ul li a{
    color: #bdb8d7;
    display: block;
    text-decoration: none;
}

.side-bar ul li a i{
    width: 25px;
}

.side-bar ul li:hover{
    background: #594f8d;
}

.side-bar ul li:hover a{
    color: #fff;
}

