*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Montserrat', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* Styling User Profile Section */
.title {
    color: #afaeae;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .side-bar {
    width: 300px;
    height: 60vh;
    background-color: #4b4276;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.side-bar ul {
    padding: 0;
    margin: 0;
}

.side-bar ul li {
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(225, 225, 225, 0.05);
    list-style: none;
    transition: margin-left 0.3s ease;
}

.side-bar ul li a {
    color: #bdb8d7;
    display: block;
    text-decoration: none;
}

.side-bar ul li a i {
    width: 25px;
}

.side-bar ul li:hover {
    background: #594f8d;
    margin-left: 2px;
}

.side-bar ul li:hover a{
    color: white;
}

.side-bar ul li.active{
    background: #594f8d;
}

.side-bar ul li.active a {
    color: #fff;
}

.content {
    flex: 1;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #f8f8f8;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

/* Styling Basic Information Section */
.form .row{
    display: flex;
    align-items: center;
}

#user .user-pic{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

#user #image{
    display: none;
}

#user #upload-btn i{
    position: absolute;
    text-align: center;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    margin-top: 45px;
    transform: translateX(-90%);
    background: rgb(173, 172, 172, 0.801);
    box-shadow: 2px 4px 4px rgb(0,0,0,0.644);
}

.row #username h2{
    font-size: 25px;
    margin-left: 20px;
    text-transform: capitalize;
    color: rgb(114, 111, 111);
}

.row .col{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.row .col #username{
	background: #f4f4f4;
}
