*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Montserrat', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

/* Styling User Profile Section */
.title {
    color: #afaeae;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    position: relative;
    margin: 20px;
    height: 65vh;
}

.wrapper .side-bar {
    width: 300px;
    background-color: #4b4276;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.side-bar ul {
    padding: 0;
    margin: 0;
}

.side-bar ul li {
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(225, 225, 225, 0.05);
    list-style: none;
    transition: margin-left 0.3s ease;
}

.side-bar ul li a {
    color: #bdb8d7;
    display: block;
    text-decoration: none;
}

.side-bar ul li a i {
    width: 25px;
}

.side-bar ul li:hover {
    background: #594f8d;
    margin-left: 2px;
}

.side-bar ul li:hover a{
    color: white;
}

.side-bar ul li.active{
    background: #594f8d;
}

.side-bar ul li.active a {
    color: #fff;
}

.content {
    flex: 1;
    padding-left: 20px;
    padding-top: 20px;
    background-color: #f8f8f8;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

/* Styling Basic Information Section */
.form .row{
    display: flex;
    align-items: center;
}

#user .user-pic{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

#user #image{
    display: none;
}

#user #upload-btn i{
    position: absolute;
    text-align: center;
    padding: 6px 6px;
    border-radius: 50%;
    font-size: 15px;
    cursor: pointer;
    color: #fff;
    margin-top: 50px;
    transform: translateX(-90%);
    background: rgb(173, 172, 172, 0.801);
    box-shadow: 2px 4px 4px rgb(0,0,0,0.644);
}

.row #username h2{
    font-size: 22px;
    margin-left: 20px;
    text-transform: capitalize;
    color: rgb(114, 111, 111);
}

.row .col{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.input-name {
    width: 90%;
    position: relative;
    margin: 20px 0;
}

.lock{
    padding: 8px 11px;
}

.fname, .lname{
    width: 60%;
    padding: 8px 0 8px 45px;
}

.input-name span{
    margin-left: 35px;
}

.email, .password, .confirmPassword, .number, .username{
    width: 60%;
    padding: 8px 0 8px 45px;
}

.input-name i{
    position: absolute;
    font-size: 18px;
    color: blue;
    border-right: 1px solid #cccccc;
}

.envelope, .pass, .phoneNumber{
    padding: 8px;
}

.input-name input{
    font-size: 17px;
    border: 1px solid #cccccc;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

input:hover{
    background-color: #fafafa;
}

input:focus{
    border: 1px solid #0866ff;
}

.btn{
    width: auto;
    padding: 5px 20px;
    cursor: pointer;
    background: #007bff;
    color: white;
    font-weight: 500;
}

.btn:hover{
    background-color: #0056b3;
}

.login-link {
    text-align: center;
    margin-top: 20px;
}

.login-link p {
    font-size: 0.9rem;
}

.login-link a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.login-link a:hover {
    text-decoration: underline;
}

#password .input-name {
    margin-top: 0px;
}

/* CSS for the table container to enable scrolling */
.table-container {
    width: 100%;
    height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 1em;
    position: relative;
}

.table-container::-webkit-scrollbar {
    width: 12px; 
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.table-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px; 
}

.table-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
    height: 30px;
}

thead th {
    background-color: #f2f2f2; 
    position: sticky;
    top: 0;
    z-index: 10; 
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4); 
    border-top: 2px solid #ddd; 
    border-bottom: 2px solid #ddd; 
}

tbody td {
    position: relative;
    z-index: 1;
}




