<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Summary | E-library System</title>
    <link rel="stylesheet" href="../css/Invoice.css">
    <link rel="stylesheet" href="../css/Header.css"/>
    <link rel="stylesheet" href="../css/Footer.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
</head>
<body>

<!-- Header and Navigation Bar Section-->
<header class="info-text">
    <ul>
    <li>
        <h6>
            <i class="fa-solid fa-phone"></i>
        </h6>
        <p>+977 0845029 | 0841929</p>
    </li>
    <li>
        <span style="color: black">|</span>
    </li>
    <li>
        <h6>
            <i class="fa-solid fa-envelope"></i>
        </h6>
        <p>bookez@gmail.com</p>
    </li>
    <li>
        <span style="color: black">|</span>
    </li>
    <li>
        <h6>
            <i class="fa-solid fa-location-dot"></i>
        </h6>
        <p>Kalanki, Kathmandu, Nepal</p>
    </li>
    </ul>
</header>

<div class="navigation-bar">
    <div class="container">
        <div class="logo-section">
            <a href="../Home.html">
                <img src="../assets/logo.png" alt="company-logo" class="company-logo"/>
                <span class="company-name">BookEz</span>
            </a>
        </div>
        <div class="search-container">
            <form>
            <div class="search-wrapper">
                <input type="text" placeholder="Search" class="search-bar" />
                <button class="search-button">
                <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            </form>
        </div>
        <div class="nav-links">
            <nav>
            <ul>
                <li>
                <a href="../view/Login.html" id="login-section">
                    <i class="fa-regular fa-user"></i>
                    <span>Login</span>
                </a>
                </li>
                <li>
                <span style="color: white">|</span>
                </li>
                <li>
                <a href="../view/SignUp.html" id="signup-section">Sign Up</a>
                </li>
                <li>
                <a href="../view/Cart.html" id="cart-section">
                    <i class="fa-solid fa-cart-shopping"></i>
                </a>
                </li>
            </ul>
            </nav>
        </div>
    </div>
</div>

<!-- Invoice Section -->
<div class="invoice">
    <div class="container">
        <div class="top-section">
            <div class="logo">
                <img src="../assets/logo.png" alt="logo" class="company-logo">
                <h2>BookEz</h2>
            </div>
            <div class="company-details">
                <p class="name">BookEz Enterprise</p>
                <p class="address">Kalanki, Kathmandu, Nepal</p>
                <p class="email">bookez@gmail.com</p>
            </div>
        </div>
        <div class="header-section">
            <div class="customer-details">
                <p>Name: Bikash Bhattarai</p>
                <p>Phone Number: 98271172737</p>
                <p>Address: Kathmandu, Nepal</p>
            </div>
            <div class="invoice-details">
                <p>Invoice ID: 10220</p>
                <p>Invoice Date: 2020/10/10</p>
                <p>Tax Free</p>
            </div>
        </div>
        <hr>
        <div class="products-details">
            <table>
                <thead>
                    <tr>
                        <td>BookID</td>
                        <td>Book Name</td>
                        <td>Unit Price</td>
                        <td>Quantity</td>
                        <td>Total</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1010</td>
                        <td>Book Name</td>
                        <td>$100</td>
                        <td>20</td>
                        <td>$12000</td>
                    </tr>
                    <tr>
                        <td>1010</td>
                        <td>Book Name</td>
                        <td>$100</td>
                        <td>20</td>
                        <td>$12000</td>
                    </tr>
                    <tr>
                        <td>1010</td>
                        <td>Book Name</td>
                        <td>$100</td>
                        <td>20</td>
                        <td>$12000</td>
                    </tr>
                    <tr>
                        <td>1010</td>
                        <td>Book Name</td>
                        <td>$100</td>
                        <td>20</td>
                        <td>$12000</td>
                    </tr>
                    <tr>
                        <td>1010</td>
                        <td>Book Name</td>
                        <td>$100</td>
                        <td>20</td>
                        <td>$12000</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" style="text-align: right;">Total Amount:</td>
                        <td>120000</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: right;">Discount Amount:</td>
                        <td>120000</td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: right;">Grand Total Amount:</td>
                        <td>120000</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="other-information">
            <p>Payment Status: <b>Online</b></p>
            <p><i class="fa-regular fa-face-smile"></i></i>Enjoy hassle-free returns within 7 days of purchase</p>
        </div>
        <hr>
        <div class="appreciation-message">
            <div class="message">
                <p class="msg">Thank You For Choosing Us</p>
                <p class="terms">Terms and Conditions:</p>
                <p class="promo">Buy More and Spread Love</p>
            </div>
            <div class="signature">
                <p class="owner">Bikash Bhattarai</p>
                <p class="text">Owner</p>
                <i class="fa-solid fa-signature"></i>
            </div>
        </div>
    </div>
</div>

<!-- Buy More Section -->
<div class="buy-more">
    <div class="container">
        <p>Wanna buy more?</p>
        <a href="../Home.html">Explore</a>
    </div>
</div>

<!-- Footer Section -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Library Policy</a></li>
                    <li><a href="#">Return Policy</a></li>
                    <li><a href="#">Request a Book</a></li>
                    <li><a href="#">Report an Issue</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Best Sellers</a></li>
                    <li><a href="#">Featured Books</a></li>
                    <li><a href="#">Genres</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="https://github.com/bikash2060" target="_blank"><i class="fa-brands fa-github"></i></a>
                    <a href="https://x.com/bhattarai_bsal2" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/its_bshal20/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/bikashbhattarai/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="copyright">
                <p>&copy; 2020-2024 BookEz. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>